:root {
  --light-blue: #1a7bd1;
  --dark-grey: #2c2d3f;
  --light-grey: #757575;
  --bg-white: #f6f6f6;
  --bg-newsletter: #edf2ff;
  --main-transition: .3s;
  --section-padding: 6rem;
}
/* Start Global RUles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
}
input:focus,
textarea:focus  {
  outline: none;
}
h1,
h2,
h3 {
  color: var(--dark-grey);
}
h2,
h3 {
  font-weight: 600;
}
p {
  font-size: 14px;
  color: var(--light-grey);
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 32px;
  max-width: 600px;
  margin: auto;
}
.title img {
  margin: 20px 0;
}
.title p {
  font-size: 16px;
  margin: auto;
  max-width: 500px;
}
.primary {
  background-color: var(--light-blue);
  color: #fff;
  transition: var(--main-transition);
}
.primary:hover {
  background-color: #135fa1;
}
.secondary {
  background-color: var(--dark-grey);
  color: #fff;
  transition: var(--main-transition);
}
.secondary:hover {
  background-color: #4c4f6e;
}
.container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Work */
/* Home */
#home {
  background-color: white;
}
#home nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
#home nav .container {
  min-height: 100px;
}
#home nav .logo {
  width: 250px;
}
@media (min-width: 992px) {
  #home nav .links i {
    display: none;
  }
}
#home nav ul li a {
  margin: 0 15px;
  color: var(--dark-grey);
  font-weight: 500;
  transition: var(--main-transition);
}
#home nav ul li a:hover {
  color: var(--light-blue);
}


#home .home-content {
  background-image: url(../images/bg-home.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-top: 2rem;
}
#home .home-content .col small img {
  vertical-align: middle;
}
#home .home-content .col h1 {
  max-width: 600px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  #home .home-content .col h1 {
    font-size: 30px;
  }
}
#home .home-content .col p {
  max-width: 500px;
  line-height: 1.6;
}
@media (max-width: 991px) {
  #home nav .links ul {
    position: absolute;
    right: 0;
    top: calc(200%);
    padding: 0;
    background-color: white;
    opacity: 0;
    min-width: 180px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: var(--main-transition);
    z-index: 1;
  }
  #home nav .links ul li a {
    display: block;
    padding: 15px;
    margin: 0;
    transition: var(--main-transition);
  }
  #home nav .links ul a:hover {
    padding-left: 25px
  }
  #home nav .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }
  #home nav .links i {
    font-size: 30px;
    color: var(--dark-grey);
  }
  #home nav .links:hover ul {
    flex-direction: column;
    opacity: 1;
    top: calc(100%);
  }
}
/* End Work */
/* Start About */
#about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
#about .row {
  margin-top: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 4rem;
}
@media (max-width: 767px) {
  #about .row {
    grid-template-columns: minmax(200px, 1fr);
  }
}
#about .row .col img {
  max-width: 100%;
  position: relative;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  animation: move-up 3s linear infinite;
}
#about .row .col h3 {
  font-size: 25px;
}
#about .row .col hr {
  width: 60px;
  height: 3px;
  background-color: var(--light-blue);
  border: none;
  margin: 10px 0;
}
#about .row .col p {
  font-size: 16px;
  margin-bottom: 25px;
}
#about .row .col .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
#about .row .col .list ul li {
  margin-bottom: 5px;
  color: var(--light-grey);
}
#about .row .col .list ul li::before {
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
  color: var(--light-blue);
}
/* End About */
/* Start Info */
#info {
  background: url(../images/info-bg.jpg) center center/ cover;
  padding: var(--section-padding) 0;
  position: relative;
  z-index: 1;
}
#info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  opacity: 0.8;
  z-index: -1;
}
#info .container {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  color: white;
}
#info .container .box {
  display: flex;
  align-items: center;
}
#info .container .box:hover i {
  background-color: #fff;
  color: var(--light-blue);
}
#info .container .box .icon {
  width: 80px;
  height: 80px;
  font-size: 30px;
  margin-right: 20px;
  position: relative;
}
#info .container .box .icon::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 2px;
  -webkit-mask: conic-gradient(#fff 0deg 320deg, transparent 320deg 360deg);
  mask: conic-gradient(#fff 0deg 320deg, transparent 320deg 360deg);
  animation: spin 1.2s linear infinite;
}
#info .container .box i {
  padding: 20px;
  transition: var(--main-transition);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#info .container .box span {
  font-size: 30px;
  font-weight: 600;
}
#info .container .box p {
  color: #fff;
}
/* End Info */
/* Start Help */
#help {
  padding: var(--section-padding) 0;
}
#help .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  margin-top: 3rem;
}
@media (max-width: 767px) {
  #help .row {
    grid-template-columns: minmax(200px, 1fr);
  }
}
#help .row .col {
  position: relative;
}
#help .row .col i {
  width: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--light-blue);
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
#help .row .col h3 {
  margin: 20px 0;
}
#help .row .col:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 40px;
  right: -75px;
  border-top: 4px dotted var(--light-blue);
  width: 118px;
}
@media (max-width: 1199px) {
  #help .row .col:not(:last-child)::before {
    display: none;
  }
}
/* End Help */
/* Start contact */
#contact {
  background: url(../images/contact-bg.jpg) center center/ cover;
  padding: var(--section-padding) 0;
  position: relative;
  z-index: 1;
}
#contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  opacity: 0.8;
  z-index: -1;
}
#contact .contact-content {
  max-width: 600px;
  margin: auto;
}
@media (max-width: 767px) {
  #contact .contact-content {
    padding: 0 10px
  }
  #contact .contact-content h2 {
    font-size: 25px;
  }
}
#contact .contact-content p {
  margin: 25px 0;
  line-height: 1.6;
  font-size: 16px;
}
@media (max-width: 767px) {
  #contact .contact-content p {
    font-size: 14px;
  }
}
#contact .contact-content a {
  margin-right: 20px;
}
#contact .contact-content a.third {
  border: 1px solid #fff;
}
#contact .contact-content a.third:hover {
  background-color: var(--light-blue);
  color: #fff;
}
#contact .contact-content a.fourth {
    border: 1px solid #fff;
}
#contact .contact-content a.fourth:hover {
  color: var(--dark-grey);
  background-color: #fff;
}
#contact .contact-content a i {

}
#contact .contact-content a.fourth:hover i {
  animation: move-right .8s linear infinite;
  transition: var(--main-transition);
}
/* End contact */
/* Strat Services */
#services {
  padding: var(--section-padding) 0;

}
#services .content {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem 4rem;
}
@media (max-width: 767px) {
  #services .content {
    grid-template-columns: minmax(200px, 1fr);
  }
}
#services .box i {
  font-size: 40px;
  margin-right: 20px;
  color: var(--light-blue);
}
#services .box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
/* End Services */
/* Start Prices */
#price {
  background-color: var(--bg-white);
  padding: var(--section-padding) 0;
}
#price .container .price-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 5rem;
}
@media (max-width: 767px) {
  #price .container .price-content {
    grid-template-columns: minmax(200px, 1fr);
  }
}
#price .card {
  background-color: #fff;
  padding: 3rem 2rem;
  border: 1px solid #ddd;
  transition: var(--main-transition);
}
#price .card:hover {
  transform: translateY(-5px);
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}
#price .card > i {
  font-size: 60px;
  color: var(--light-blue);
} 
#price .card > h3 {
  font-size: 24px;
  margin: 2rem 0 .5rem;
  font-weight: 500;
}
#price .card > p {
  font-size: 35px;
  color: var(--light-blue);
  font-weight: 600;
}
#price .card > p span {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 400;
}
#price .card ul {
  margin-top: 2rem;
}
#price .card ul li {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-grey);
}
#price .card ul li span {
  font-size: 16px;
}
#price .card ul li i.yes {
  color: var(--light-blue)
}
/* End Prices */
@keyframes move-up {
  0%,
  100%{
    top: 0;
  }
  50% {
    top: -5px;
  }
}
@keyframes spin {
  0 {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move-right {
  0%,
  100% {
    transform: translatex(0);
  }
  25% {
    transform: translatex(6px);
  }
}